$comborder: 1px solid #e5e5e5;
$borderColor: #e5e5e5;
$nfs: 12px; 	//正常字號
$mfs: 14px; 	//中
$bfs: 16px;	//大
$lh_input: 28px; //input行高
$fc0: #000; //黑色
$fc1: #3c3c3c; //字體深色
$fc2: #6c6c6c; //中等色
$fc3: #9c9c9c; //淺色
$afc: #337ab7; //a标签颜色
$orange:#ff4e00;
$orange2:#ff9d29;
$green: #22b42d;
$blue:#01579B;
$lgray:#FAFAFA; //浅灰
$mgray:#E0E0E0; //中灰
$dgray:#757575; //深灰
$comshadow: 0px 2px 5px rgba(0,0,0,.3); //统一阴影
$wikiWidth: 1180px;

